.DS_Store

# NPM
node_modules/
npm-debug.log
package-lock.json

coverage/
.nyc_output/
.stryker-tmp

# Typescript
app/**/*.js
app/**/*.js.map
test/**/*.js
test/**/*.js.map
tsconfig.tsbuildinfo
dist/
coverage/
.nyc_output/
typings

# Eclipse
.project
.settings
.classpath

# IDEA
.idea
*.iml
