# Eclipse
.project
local.properties
.classpath
.settings/**
.loadpath

# Locally stored "Eclipse launch configurations"
*.launch

# Intellij
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig

# Maven
/target/

hs_err_pid*
