<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
	backupGlobals="false"
    bootstrap="./vendor/autoload.php"
	colors="true"
	beStrictAboutChangesToGlobalState="true"
	beStrictAboutOutputDuringTests="false"
	beStrictAboutResourceUsageDuringSmallTests="true"
	beStrictAboutTestsThatDoNotTestAnything="false"
	beStrictAboutTodoAnnotatedTests="true"
	beStrictAboutCoversAnnotation="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
	verbose="true">

	<testsuites>
		<testsuite name="All Tests">
			<directory suffix="_test.php">test</directory>
			<directory suffix="Test.php">test</directory>
		</testsuite>
	</testsuites>
</phpunit>
